body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:20px;
}

.container{
    max-width:1000px;
    margin:auto;
    text-align:center;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

.news-card{
    background:white;
    margin:20px 0;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.news-card img{
    width:100%;
    max-height:250px;
    object-fit:cover;
}